<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.lwb.adapter.demo">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="me.lwb.adapter.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BindingAdapter">
        <activity
            android:name="me.lwb.adapter.demo.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.lwb.adapter.demo.ui.activity.loadmore.LoadMoreLinearActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.stick.MyStickItemActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.viewpager.ViewPagerActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.basic.HeaderFooterActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.basic.ExpandActivity" />

        <activity android:name="me.lwb.adapter.demo.ui.activity.basic.MutableActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.paging.MultiTypeActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.paging.PagingActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.select.DialogSelectActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.select.MultiSelectActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.select.SingleSelectActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.stick.StickItemActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.wheel.WheelActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.nested.NestedRecyclerViewActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.nested.NestedByTypeActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.wheel.CalendarWheelActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.wheel.AddressWheelActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.basic.MultiTypeActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.loadmore.LoadMoreStaggeredGridActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.loadmore.LoadMoreGridActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.basic.DiffActivity" />
        <activity android:name="me.lwb.adapter.demo.ui.activity.stick.MyStickHeaderActivity" />
    </application>

</manifest>